<div class="row mt-2 md-2">
  <div class="col-12">
     <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item"
        [ngClass]="{'disabled': !previousURL}"
        >
          <a class="page-link"
          (click)="loadPokemons(previousURL!)"
          >Atrás</a>
        </li>

        <li class="page-item"
        [ngClass]="{'disabled': !nextURL}"
        >
          <a class="page-link"
          (click)="loadPokemons(nextURL!)"
          >Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
