<div class="row mt-2 mb-2">
  <div class="col-12">
      <nav aria-label="Page navigation">
          <ul class="pagination">
              <!-- Botón Previous -->
              <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
                  <a class="page-link" (click)="onPrevious()" aria-label="Previous">
                      Previous
                  </a>
              </li>

              <!-- Botón Next -->
              <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
                  <a class="page-link" (click)="onNext()" aria-label="Next">
                      Next
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</div>
