<!-- Navegación Superior -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff3d20;">
  <div class="container">
    <!-- Logo/Nombre -->
    <a class="navbar-brand fw-bold" routerLink="/">
      API
      <i class="bi bi-globe-americas"></i> 
    </a>

    <!-- Botón hamburguesa para móvil -->
    <button class="navbar-toggler border-0 " style="color: #ffcac2;" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Botón Home -->
        <li class="nav-item mx-2">
          <a class="nav-link btn btn-outline-success btn-sm rounded-pill px-3" 
             routerLink="/home" routerLinkActive="active">
             <i class="bi bi-house-heart-fill"></i> Home
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link btn btn-outline-success btn-sm rounded-pill px-3" 
             routerLink="/dbz" routerLinkActive="active">
            <i class="fas fa-fist-raised me-1"></i> API DBZ
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link btn btn-outline-success btn-sm rounded-pill px-3" 
             routerLink="/pokemon" routerLinkActive="active">
            <i class="fas fa-paw me-1"></i> API Pokémon
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link btn btn-outline-success btn-sm rounded-pill px-3" 
             routerLink="/cocteles" routerLinkActive="active">
            <i class="fas fa-glass-martini-alt me-1"></i> API Cócteles
          </a>
        </li>
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle btn btn-outline-success btn-sm rounded-pill px-3" 
             href="#" id="navbarDropdown" role="button" 
             data-bs-toggle="dropdown" aria-expanded="false">
             <i class="bi bi-person-fill-gear"></i> Mi API
          </a>
          <ul class="dropdown-menu dropdown-menu-end animate slideIn shadow" 
               aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/list-miapi" routerLinkActive="active">
              <i class="fas fa-clipboard-list me-2"></i> 
              Listar
            </a></li> 
          </ul>
        </li>
      </ul>

      <ng-container *ngIf="user$ | async as user; else showLogin">
        <div class="d-flex align-items-center">
          <img [src]="user.photoURL" alt="user.displayName" class="img-fluid rounded-circle" style="width: 40px; height: 40px;">
          <span class="ms-2">{{user.displayName}}</span>
          <button class="btn btn-outline-danger ms-2" (click)="logout()" type="button">
            <i class="fas fa-power-off"></i> Logout
          </button>
        </div>
      </ng-container>
      
      <ng-template #showLogin>
        <button class="btn btn-outline-danger" 
        style=" color: rgb(0, 0, 0);" 
        (click)="onGoogleLogin()" 
        type="button">
          <i class="bi bi-google"></i> Login
        </button>
      </ng-template>

    </div>
  </div>
</nav>