<!-- Hero Section -->
<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: #75b466;">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">Pokemon Fans🎃  </h1>
        <p class="lead mb-4">Información sobre Pokemones!</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media1.tenor.com/m/4tfq-_gMNRMAAAAC/ivysaur-pokemon.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: rgb(36, 187, 224);">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">Dragon Ball Z💥 </h1>
        <p class="lead mb-4">Los guerreros más fuertes del universo Dragon Ball Z.</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media1.tenor.com/m/BorMZqIU9JQAAAAC/goku-gohan.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid-black bg-primary-black text-white py-4">
  <div class="container" style="background-color: #414206;">
    <div class="row align-items-center">
      <!-- Columna de texto -->
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">Cocteles🥂 </h1>
        <p class="lead mb-4">Los cocteles más deliciosos.</p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-lg-6 text-center mt-4 mb-4">
        <img src="https://media.tenor.com/VFtCKKmzxUIAAAAi/celebrate-cheers.gif" alt="Gif de personajes" class="img-fluid">
      </div>
    </div>
  </div>
</div>



  
  <!-- Footer -->
  <footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <p class="mb-0">
        © Copiright 2025<br>
      </p>
    </div>
  </footer>
  