.fixed-card{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.fixed-img{
    width: auto;
    height: 100px;
    max-width: 80%;
    object-fit: contain;
}

.fixed-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}